#contato {
  background-color: rgba(24, 24, 24, 0.352); /* Define a cor de fundo com opacidade */
  padding: 10px 0; /* Reduzir o padding vertical */
  color: #fff;
  margin-top: 35vh;
}

#contato h2 {
  text-align: center;
  margin-bottom: 10px; /* Reduzir a margem inferior */
  font-weight: bold;
  font-size: 30px;
}

#contato h2:hover {
  color: #FF0008;
  cursor: pointer;
  transition: 0.4s;
}

.container-footer {
  display: fle;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  box-sizing: border-box;
}

.info-left,
.info-right {
  padding: 10px; /* Reduzir o padding interno */
}

.info-left p {
  margin-bottom: 10px; /* Reduzir a margem inferior */
  font-size: 15px;
}

.info-left a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.info-left a:hover {
  color: #FF0008;
  transition: 0.4s;
}

.social-media {
  margin-bottom: 10px; /* Reduzir a margem inferior */
  text-align: center;
}

.social-media a {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
}

.social-media a:hover {
  color: #FF0008;
  transition: 0.4s;
}

.certificado {
  text-align: center;
  margin-bottom: 10px; /* Reduzir a margem inferior */
}

.certificado img {
  max-width: 60px;
}

.copyright {
  font-size: 11px;
  text-align: center;
  margin-top: 10px; /* Reduzir a margem superior */
}

/* Responsivo para dispositivos móveis */
@media (max-width: 768px) {
  #contato{
 margin:0
  }

  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .info-left,
  .info-right {
    padding: 10px; /* Ajustar o padding para dispositivos móveis */
  }

  #contato h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .info-left p,
  .info-left a {
    font-size: 14px;
  }

  .social-media a {
    font-size: 18px;
    margin: 0 5px;
  }

  .certificado img {
    max-width: 50px;
  }
}
@media (max-width: 1024px) {
#contato{
margin-top: 5rem;}
}