header {
  width: 100%;
  padding: 15px 8%;
  background-color: rgba(24, 24, 24, 0.352); /* Define a cor de fundo com opacidade */
}

#nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 35px;
  color: #f20f18;
  cursor: pointer;
}

.logo span {
  color: #ffff;
  margin-left: 15px;
}

.logo img {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.img-logo {
  margin-right: 20px;
}

.logo-text h1 {
  margin: 0;
}

#nav-list {
  display: flex;
  list-style: none;
  gap: 5rem;
  
}

.nav-item a {
  text-decoration: none;
  color: #ffff;
  font-weight: 600;
}

.nav-item a:hover {
  color: #ff0008;
  transition: .4s;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f20f18;
  color: #ffff;
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  cursor: pointer;
}

.btn-default:hover {
  background-color: #ff0008;
}
.mobile-btn {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffff;
}

#mobile-menu {
  display: none;
}


@media screen and (max-width: 800px) {
  #nav-list,
  #nav-bar .btn-default {
    display: none;
  }

  .mobile-btn {
    display: flex;
  }
}
