#home {
  display: flex;
  flex-direction: row-reverse; 
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 160px);
  padding: 28px 8%;
}

#banner {
  width: 423px;
  height: 423px;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cta {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#cta .title {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

#cta .title span {
  color: #f20f18;
}

#cta .description {
  font-size: 1.2rem;
  margin-left: 2rem; 
  color: #fff;
}

#cta-btn {
  display: flex;
  gap: 2rem;
  justify-content: center;
  
}

#cta-btn a {
  text-decoration: none;
  color: #fff;
  height: 48px;
}

#cta-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f20f18;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}

#cta-btn button i {
  margin-right: 8px;
}

.social-media-bttn {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.social-media-bttn a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}


#banner, #banner img{
  display: none;
}
#cta{
  width: 100%;
  text-align: center;
  align-items: center;
}
#cta-btn a {

  height: 75px;
}

#reviews {
  padding: 50px 20px;
  background-color: #0E0E10;
}

.section-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.section-subtitle {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #555;
}

#reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.review {
  background-color: #fff;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.review-text {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.review-author {
  font-size: 1em;
  color: #777;
}

@media screen and (max-width: 800px) {
  #home{
    min-height: 100%;
    padding-top: 0px;
  }
}