#menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0; 
  padding: 0; 
  overflow: hidden;
}

#menu p {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px auto; 
  padding: 10px 10px; 
  max-width: 80%; 
  line-height: 1.6; 
}
#menu span{
  color: #f20f18;
  font-weight: bold;
}



.section-title{
  font-size: 2rem;
  color:#fff ;
}

.slider {
  position: relative;
  width: 30%;
  max-width: 1000px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: flex;
 
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
 .slider{
  width: 300px;
 }
 .next, .prev{
 display: flexbox;
 }
}





