#menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0; 
  padding: 0; 
  overflow: hidden; /* Para garantir que o pseudo-elemento não saia do contêiner */

}

#menu p {
  color: #fff;
  font-size: 26px;
  text-align: center;
  margin: 20px auto; /* Ajusta a margem superior e inferior */
  padding: 10px 10px; /* Adiciona espaçamento nas bordas esquerda e direita */
  max-width: 80%; /* Define um limite máximo de largura para o parágrafo */
  line-height: 1.6; /* Ajusta a altura da linha para melhor legibilidade */
}
#menu span{
  color: #f20f18;
  font-weight: bold;
}

.section-title{
color: #f20f18;
}

.section-subtitle{
  color:#fff ;
}

.slider {
  position: relative;
  width: 30%;
  max-width: 1000px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: flex;
 
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  #menu {
    padding: 20px; /* Adiciona padding para dispositivos móveis */
  }
  .slider{
    width: 60%;
  }
  .prev, .next{
  display: none;
  }
  .slide img {
    width: 100%;
    display: flex;
   
  }

}




