#reviews {
  padding: 50px 0;
  text-align: center;
}

#reviews h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #fff;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 200px; /* Diminuir ainda mais o tamanho do card */
  margin: 0 auto 20px; /* Ajustar a margem inferior */
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  max-width: 50%; /* Manter a largura da imagem proporcional ao novo tamanho do card */
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-top: 10px; /* Ajustar a margem superior */
}

.card-body {
  padding: 10px; /* Reduzir o padding */
}

.card-title {
  font-size: 1rem; /* Reduzir ainda mais o tamanho da fonte */
  margin-bottom: 8px; /* Ajustar a margem inferior */
  color: #333;
}

.review-stars {
  color: #ffcd3c;
  margin-bottom: 8px; /* Ajustar a margem inferior */
}

.card-text {
  font-size: 0.8rem; /* Reduzir ainda mais o tamanho da fonte */
  color: #666666;
}

@media (max-width: 768px) {
  #reviews .card {
    margin-bottom: 20px;
  }
}
