#reviews{
  padding-top: 20vh;
}
#reviews h3 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

#reviews h3:hover{
  color: #f20f18;
  transition: .4s;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  max-width: 980px;
  margin: 0 auto;
}

.card {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.558);
  border-radius: 10px;
  box-shadow: 6px 6px 6px ;
}
.stars i{
  color: rgb(200, 200, 21);
  font-size: 15px;
}
 .card h4{
  color: #f20f18; 
}
.card p{
  color: #fff;
  font-size: 16px;
  padding-bottom: 10px;
}
.card:hover {
  transform: scale(1.05); 
  transition: transform 0.4s ease; 
}

.user {
  width: 25%; 
  height: auto; 
  display: block;
  margin-top: 10px; 
border-radius: 40px;
}

@media (max-width: 1024px) {
  #reviews{
    
  }
  #reviews h3 {
    font-size: 1.5rem; /* Reduzir o tamanho da fonte do título */
    margin-bottom: 20px; /* Reduzir a margem inferior do título */
  }

  .cards {
    display: block;
    padding: 0 10px; /* Adicionar espaçamento lateral na tela */
    max-width: 60%; /* Definir a largura máxima como 100% */
  }

  .card {
    border-radius: 8px; /* Reduzir o raio do arredondamento da borda */
    box-shadow: 4px 4px 4px; /* Reduzir o desfoque da sombra */
    margin-bottom: 20px;

  }

  .stars i {
    font-size: 12px; /* Reduzir o tamanho do ícone de estrela */
  }

  .card h4 {
    font-size: 1rem; /* Reduzir o tamanho da fonte do título da carta */
  }

  .card p {
    font-size: 14px; /* Reduzir o tamanho da fonte do texto da carta */
  }

  .user {
    width: 20%; /* Reduzir a largura da imagem do usuário */
    border-radius: 20px; /* Reduzir o raio do arredondamento da borda */
  }
}